@model PFD_GroupA.Models.UserKeybinds
@using System.Text.Json
@{
	ViewData["Title"] = "USER HOME";
	var AccountString = Context.Session.GetString("AccountObject");
	var BankAccString = Context.Session.GetString("BankAcc");
	var type = Context.Session.GetString("AccountType");
	var Binds = Context.Session.GetString("KeyBinds");
	var BindsObject = JsonSerializer.Deserialize<UserKeybinds>(Binds);
	var AccountObject = JsonSerializer.Deserialize<User>(AccountString);
	var BankObject = JsonSerializer.Deserialize<Account>(BankAccString);
	string AccountName = AccountObject.UserName;
	string AccountID = AccountObject.UserID;
	string AccountNum = BankObject.BankAccNo;
	UserKeybinds test = Model;
	Console.WriteLine(test);
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Help Page </title>

	<!-- CSS File -->
	<link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/help.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/cardstyle.css" asp-append-version="true" />


	<!-- Unicons -->
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

	<!-- Box Icons -->
	<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

	<!-- Flat Icons -->
	<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

	<!-- Mediapipe libs -->
	<link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
	<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
	<script src="@Html.Raw("https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js")"></script>
	<script src="@Html.Raw("https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js")"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>


	<!--<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />-->
</head>
<!-- Dashboard Side Bar Section Starts -->
<section id="sidebar">
	<nav>
		<a href="~/User/Index" class="brand">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/logo.png" alt="">
		</a>
		<ul class="side-menu top">
			<li>
				<a href="~/User/Index">
					<i class='bx bxs-home'></i>
					<span class="text">Home</span>
				</a>
			</li>
			<li>
				<a href="~/User/Account">
					<i class='bx bx-line-chart'></i>
					<span class="text"> Account</span>
				</a>
			</li>
			<li>
				<a href="~/User/Transfer">
					<i class='bx bx-transfer'></i>
					<span class="text">Transfer</span>
				</a>
			</li>
			<li class="active">
				<a href="~/User/Cards">
					<i class='bx bx-credit-card'></i>
					<span class="text">Cards</span>
				</a>
			</li>
			<li>
				<a href="~/User/Keybind">
					<i class='bx bxs-keyboard'></i>
					<span class="text">Keybind</span>
				</a>
			</li>
			<li>
				<a href="~/User/Settings">
					<i class='bx bxs-cog'></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="~/User/Help">
					<i class='bx bx-help-circle'></i>
					<span class="text">Help</span>
				</a>
			</li>
			<li>
				<button class="assignValue button-style" data-value="0">
					<img src="/images/us.png" alt="">
					<span class="text">English</span>
				</button>
			</li>
			<li>
				<button class="assignValue button-style" data-value="1">
					<img src="/images/cn.png" alt="">
					<span class="text">Chinese</span>
				</button>
			</li>
			<li>
				<button class="assignValue button-style" data-value="2">
					<img src="/images/my.png" alt="">
					<span class="text">Malay</span>
				</button>
			</li>
			<li>
				<button class="assignValue button-style" data-value="3">
					<img src="/images/in.png" alt="">
					<span class="text">Tamil</span>
				</button>
			<li class="logout">
				<a href="~/Home/Index">
					<i class='bx bx-exit'></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</nav>
	<!-- Gesture Recognition -->
	<section id="demos" class="invisible" style=" position: fixed; bottom:0px">
		<div id="liveView" class="videoView">
			<button id="webcamButton" class="" hidden>
				<!--mdc-button mdc-button--raised-->
				<span class="mdc-button__ripple" hidden></span>
				<span class="mdc-button__label" hidden>ENABLE GESTURE</span>
			</button>
			<div style="position: absolute; bottom: 0px; z-index: 500;">
				<video id="webcam" style="width: 270px; height: 240px;" autoplay playsinline></video>
				<canvas class="output_canvas" id="output_canvas" style="position: absolute; left: 0px; top: 0px; z-index: 501;"></canvas>
			</div>
		</div>
	</section>
	<!-- Gesture Recognition end-->
</section>
<!-- Dashboard Side Bar Section End -->
<!-- Search Bar & Light Switch Start -->
<section id="content">
	<nav>
		<i class='bx bx-menu'></i>
		<form action="#">
			<div class="form-input">
				<input type="search" placeholder="Search...">
				<button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
			</div>
		</form>
		<input type="checkbox" id="switch-mode" hidden>
		<label for="switch-mode" class="switch-mode"></label>
		<a href="#" class="notification">
			<i class='bx bxs-bell'></i>
			<span class="num">8</span>
		</a>
		<a href="#" class="profile">
			<i class="fa-solid fa-user fa-beat fa-sm" style="color: #3c91e6;"></i>
		</a>
	</nav>
</section>

<!-- Search Bar & Light Switch End -->

	<!-- Dashboard Section Start -->
<body>

	<div class="checkout">
		<div>
			<svg viewBox="0 0 500 150" preserveAspectRatio="none" style="border-radius: 15px;position: absolute;top: 0;left: 0;height: 100%; width: 100%;">
				<path d="M208.09,0.00 C384.68,-161.89 -117.80,438.09 200.79,150.00 L-32.18,178.09 L0.00,0.00 Z" style="stroke: none; fill: #000;"></path>
			</svg>
		</div>

		<div class="credit-card-box">
			<div class="flip">
				<div class="front">
					<div class="chip"></div>
					<div class="logo">
						<svg version="1.1" id="visa" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 width="47.834px" height="47.834px" viewBox="0 0 47.834 47.834" style="enable-background:new 0 0 47.834 47.834;">
							<g>
								<g>
									<path d="M44.688,16.814h-3.004c-0.933,0-1.627,0.254-2.037,1.184l-5.773,13.074h4.083c0,0,0.666-1.758,0.817-2.143
                         c0.447,0,4.414,0.006,4.979,0.006c0.116,0.498,0.474,2.137,0.474,2.137h3.607L44.688,16.814z M39.893,26.01
                         c0.32-0.819,1.549-3.987,1.549-3.987c-0.021,0.039,0.317-0.825,0.518-1.362l0.262,1.23c0,0,0.745,3.406,0.901,4.119H39.893z
                         M34.146,26.404c-0.028,2.963-2.684,4.875-6.771,4.875c-1.743-0.018-3.422-0.361-4.332-0.76l0.547-3.193l0.501,0.228
                         c1.277,0.532,2.104,0.747,3.661,0.747c1.117,0,2.313-0.438,2.325-1.393c0.007-0.625-0.501-1.07-2.016-1.77
                         c-1.476-0.683-3.43-1.827-3.405-3.876c0.021-2.773,2.729-4.708,6.571-4.708c1.506,0,2.713,0.31,3.483,0.599l-0.526,3.092
                         l-0.351-0.165c-0.716-0.288-1.638-0.566-2.91-0.546c-1.522,0-2.228,0.634-2.228,1.227c-0.008,0.668,0.824,1.108,2.184,1.77
                         C33.126,23.546,34.163,24.783,34.146,26.404z M0,16.962l0.05-0.286h6.028c0.813,0.031,1.468,0.29,1.694,1.159l1.311,6.304
                         C7.795,20.842,4.691,18.099,0,16.962z M17.581,16.812l-6.123,14.239l-4.114,0.007L3.862,19.161
                         c2.503,1.602,4.635,4.144,5.386,5.914l0.406,1.469l3.808-9.729L17.581,16.812L17.581,16.812z M19.153,16.8h3.89L20.61,31.066
                         h-3.888L19.153,16.8z" />
								</g>
							</g>
						</svg>
					</div>
					<div class="number"></div>
					<div class="card-holder">
						<label>Card holder</label>
						<div></div>
					</div>
					<div class="card-expiration-date">
						<label>Expires</label>
						<div></div>
					</div>
				</div>
				<div class="back">
					<div class="strip"></div>
					<div class="logo">
						<svg version="1.1" id="visa" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 width="47.834px" height="47.834px" viewBox="0 0 47.834 47.834" style="enable-background:new 0 0 47.834 47.834;">
							<g>
								<g>
									<path d="M44.688,16.814h-3.004c-0.933,0-1.627,0.254-2.037,1.184l-5.773,13.074h4.083c0,0,0.666-1.758,0.817-2.143
                         c0.447,0,4.414,0.006,4.979,0.006c0.116,0.498,0.474,2.137,0.474,2.137h3.607L44.688,16.814z M39.893,26.01
                         c0.32-0.819,1.549-3.987,1.549-3.987c-0.021,0.039,0.317-0.825,0.518-1.362l0.262,1.23c0,0,0.745,3.406,0.901,4.119H39.893z
                         M34.146,26.404c-0.028,2.963-2.684,4.875-6.771,4.875c-1.743-0.018-3.422-0.361-4.332-0.76l0.547-3.193l0.501,0.228
                         c1.277,0.532,2.104,0.747,3.661,0.747c1.117,0,2.313-0.438,2.325-1.393c0.007-0.625-0.501-1.07-2.016-1.77
                         c-1.476-0.683-3.43-1.827-3.405-3.876c0.021-2.773,2.729-4.708,6.571-4.708c1.506,0,2.713,0.31,3.483,0.599l-0.526,3.092
                         l-0.351-0.165c-0.716-0.288-1.638-0.566-2.91-0.546c-1.522,0-2.228,0.634-2.228,1.227c-0.008,0.668,0.824,1.108,2.184,1.77
                         C33.126,23.546,34.163,24.783,34.146,26.404z M0,16.962l0.05-0.286h6.028c0.813,0.031,1.468,0.29,1.694,1.159l1.311,6.304
                         C7.795,20.842,4.691,18.099,0,16.962z M17.581,16.812l-6.123,14.239l-4.114,0.007L3.862,19.161
                         c2.503,1.602,4.635,4.144,5.386,5.914l0.406,1.469l3.808-9.729L17.581,16.812L17.581,16.812z M19.153,16.8h3.89L20.61,31.066
                         h-3.888L19.153,16.8z" />
								</g>
							</g>
						</svg>

					</div>
					<div class="cvv">
						<label>CVV</label>
						<div></div>
					</div>
				</div>
			</div>
		</div>

		<form class="form" autocomplete="off" novalidate>
			<fieldset>
				<label for="card-number">Card Number</label>
				<input type="num" id="card-number" class="input-cart-number" maxlength="4" />
				<input type="num" id="card-number-1" class="input-cart-number" maxlength="4" />
				<input type="num" id="card-number-2" class="input-cart-number" maxlength="4" />
				<input type="num" id="card-number-3" class="input-cart-number" maxlength="4" />
			</fieldset>
			<fieldset>
				<label for="card-holder">Card holder</label>
				<input type="text" id="card-holder" />
			</fieldset>
			<fieldset class="fieldset-expiration">
				<label for="card-expiration-month">Expiration date</label>
				<div class="select">
					<select id="card-expiration-month">
						<option></option>
						<option>01</option>
						<option>02</option>
						<option>03</option>
						<option>04</option>
						<option>05</option>
						<option>06</option>
						<option>07</option>
						<option>08</option>
						<option>09</option>
						<option>10</option>
						<option>11</option>
						<option>12</option>
					</select>
				</div>
				<div class="select">
					<select id="card-expiration-year">
						<option></option>
						<option>2016</option>
						<option>2017</option>
						<option>2018</option>
						<option>2019</option>
						<option>2020</option>
						<option>2021</option>
						<option>2022</option>
						<option>2023</option>
						<option>2024</option>
						<option>2025</option>
					</select>
				</div>
			</fieldset>
			<fieldset class="fieldset-cvv">
				<label for="card-cvv">CVV</label>
				<input type="text" id="card-cvv" maxlength="3" />
			</fieldset>
			<button class="btn"><i class="fa fa-lock"></i> submit</button>
		</form>
	</div>
	</body>
	
	<!-- Dashboard Section End -->
	<!-- Javascript Section -->
	<script>
		var bindsObject = @Json.Serialize(Model);
	</script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script type="module" src="~/js/handlandmarker.js" asp-append-version="true"></script>
	<script src="~/js/dashboard.js" asp-append-version="true"></script>
	<script src="~/js/chart.js" asp-append-version="true"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/card.js"></script>


</html>