@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@model PFD_GroupA.Models.UserKeybinds
@using System.Text.Json
@{
    ViewData["Title"] = "USER HOME";
    var AccountString = Context.Session.GetString("AccountObject");
    var BankAccString = Context.Session.GetString("BankAcc");
    var type = Context.Session.GetString("AccountType");
    var Binds = Context.Session.GetString("KeyBinds");
    var BindsObject = JsonSerializer.Deserialize<UserKeybinds>(Binds);
    var AccountObject = JsonSerializer.Deserialize<User>(AccountString);
    var BankObject = JsonSerializer.Deserialize<Account>(BankAccString);
    string AccountName = AccountObject.UserName;
    string AccountID = AccountObject.UserID;
    string AccountNum = BankObject.BankAccNo;
    UserKeybinds test = Model;
    Console.WriteLine(test);
}




<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transfer Page </title>

    <!-- CSS File -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/backnavbar.css" />
    <link rel="stylesheet" href="~/css/confirmation.css" />

    <!-- Unicons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

    <!-- Box Icons -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>

    <!-- Header & Home Section Start -->
    <section class="header">
        <nav>
            <a href="~/User/Index"><img src="/images/logo.png" alt=""></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="~/User/Index">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="#promotions">Promotions</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="~/User/Transfer">Transfer</a></li>
                    <li>
                        <i class="fa-solid fa-user fa-beat fa-sm"></i>
                        <a href="~/Home/Index">Logout</a>
                    </li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <div class="breadcrumbs">
            &nbsp; <a href="~/User/Index">Home</a> >
            <a href="~/User/Transfer">Transfer</a> >
            <a href="~/User/Transfer/Confirmation">Confirmation</a>
        </div>
        <div class="confirmation">
            <div class="tick-icon">&#10004;</div>
            <h2 class="payment-completed">Payment Completed!</h2>
            <br >
            We've sent you an email with the details of your payment.
            <br >
            <br>
            <div class="payment-details">
                <span class="bold-text">Total Payment Amount: </span><br>
                <span class="total-amount"><!--{{display currency}} {{display amount payed}}-->SGD$156.09</span><br><br>
                <span class="bold-text">Payment Message: </span><br>
                <p>PAYMENT PROCESSED 876544<span id="ticket-id"><!--{{generateRandomTicketID()}}--></span></p><br>
                <span class="bold-text">Payment Method: </span><br>
                PAYNOW <br>
                <span id="paynow-number"><!--{{linkToPreviousPageInformation()}}-->8183 5001</span><br>
            </div>
        </div>
        <button class="return-button" onclick="location.href='Index'">Return</button>
        <script>
            var bindsObject = @Json.Serialize(Model);
        </script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

        <script src="~/js/dashboard.js" asp-append-version="true"></script>
        <script src="~/js/chart.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>