@model PFD_GroupA.Models.UserKeybinds
@using System.Text.Json
@{
	ViewData["Title"] = "USER HOME";
	var AccountString = Context.Session.GetString("AccountObject");
	var BankAccString = Context.Session.GetString("BankAcc");
	var type = Context.Session.GetString("AccountType");
	var Binds = Context.Session.GetString("KeyBinds");
	var BindsObject = JsonSerializer.Deserialize<UserKeybinds>(Binds);
	var AccountObject = JsonSerializer.Deserialize<User>(AccountString);
	var BankObject = JsonSerializer.Deserialize<Account>(BankAccString);
	string AccountName = AccountObject.UserName;
	string AccountID = AccountObject.UserID;
	string AccountNum = BankObject.BankAccNo;
	UserKeybinds test = Model;
	Console.WriteLine(test);
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Help Page </title>

	<!-- CSS File -->
	<link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/help.css" asp-append-version="true" />

	<!-- Unicons -->
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

	<!-- Box Icons -->
	<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

	<!-- Flat Icons -->
	<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

	<!-- Mediapipe libs -->
	<link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
	<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
	<script src="@Html.Raw("https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js")"></script>
	<script src="@Html.Raw("https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js")"></script>
</head>
<body>



	<!-- Dashboard Side Bar Section Starts -->
	<section id="sidebar">
		<nav>
			<a href="~/User/Index" class="brand">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/logo.png" alt="">
			</a>
			<ul class="side-menu top">
				<li >
					<a href="~/User/Index">
						<i class='bx bxs-home'></i>
						<span class="text">Home</span>
					</a>
				</li>
				<li>
					<a href="~/User/Account">
						<i class='bx bx-line-chart'></i>
						<span class="text"> Account</span>
					</a>
				</li>
				<li>
					<a href="~/User/Transfer">
						<i class='bx bx-transfer'></i>
						<span class="text">Transfer</span>
					</a>
				</li>
				<li>
					<a href="~/User/Cards">
						<i class='bx bx-credit-card'></i>
						<span class="text">Cards</span>
					</a>
				</li>
				<li>
					<a href="~/User/Keybind">
						<i class='bx bxs-keyboard'></i>
						<span class="text">Keybind</span>
					</a>
				</li>
				<li>
					<a href="~/User/Settings">
						<i class='bx bxs-cog'></i>
						<span class="text">Settings</span>
					</a>

				</li>
				<li class="active">
					<a href="~/User/Help">
						<i class='bx bx-help-circle'></i>
						<span class="text">Help</span>
					</a>
				</li>

			</ul>
		</nav>
		<!-- Gesture Recognition -->
		<section id="demos" class="invisible" style=" position: fixed; bottom:0px">
			<div id="liveView" class="videoView">
				<button id="webcamButton" class="" hidden>
					<!--mdc-button mdc-button--raised-->
					<span class="mdc-button__ripple" hidden></span>
					<span class="mdc-button__label" hidden>ENABLE GESTURE</span>
				</button>
				<div style="position: absolute; bottom: 0px; z-index: 500;">
					<video id="webcam" style="width: 270px; height: 240px;" autoplay playsinline></video>
					<canvas class="output_canvas" id="output_canvas" style="position: absolute; left: 0px; top: 0px; z-index: 501;"></canvas>
				</div>
			</div>
		</section>
		<!-- Gesture Recognition end-->
	</section>
	<!-- Dashboard Side Bar Section End -->
	<!-- Search Bar & Light Switch Start -->
	<section id="content">
		<nav>
			<i class='bx bx-menu'></i>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
				</div>
			</form>
			<li>
			<button class="assignValue button-style" data-value="0">
				<img src="/images/us.png" alt="">
				<span class="text">English</span>
			</button>
			</li>
			<li>
				<button class="assignValue button-style" data-value="1">
					<img src="/images/cn.png" alt="">
					<span class="text">Chinese</span>
				</button>
			</li>
			<li>
				<button class="assignValue button-style" data-value="2">
					<img src="/images/my.png" alt="">
					<span class="text">Malay</span>
				</button>
			</li>
			<li>
				<button class="assignValue button-style" data-value="3">
					<img src="/images/in.png" alt="">
					<span class="text">Tamil</span>
				</button>
			</li>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="notification">
				<i class='bx bxs-help-circle' style="color: #3c91e6;"></i>
				<div class="popup" id="helpPopup">
					<div class="popup-content">
						<!-- Add your Guide content here -->
						<p>Welcome to the Guide Section!</p>
						<br>
						<p>
							•	Logout Function: Hit the "L" key to use the Logout Function.
						</p>
						<br>
						<p>
							•	Homepage: Hit the "I" key to go to the Homepage.
						</p>
						<br>
						<p>
							•	Account Page: Hit the "A" key to go to the Account Page.
						</p>
						<br>
						<p>
							•	Transfer Page: Hit the "T" key to go to the Transfer Page.
						</p>
						<br>
						<p>
							•	Cards: Hit the "C" key to go to the Cards Page.
						</p>
						<br>
						<p>
							•	Settings: Hit the "S" key to go to the Settings Page.
						</p>
						<br>
						<p>
							•	Account Page: Hit the "A" key to go to the Account Page.
						</p>
						<br>
						<p>
							•	Help: Hit the "H" key to go to the Help Page. .
						</p>
						<br>
						<p>
							•	Voice Recognition Language: Click on one of your preferred languages at the side bar to activate it
						</p>
						<br>
						<p>
							•	Hand Gesture Controls:
						</p>
						<br>
						<p>
							➢	To move to the next page shown on the sidebar, hold up 2 fingers (victory sign)
						</p>
						<br>
						<p>
							➢	To navigate to the previous page, hold up 1 finger (pointing up sign)
						</p>


					</div>
				</div>
			</a>
			<a href="#" class="profile">
				<i class="fa-solid fa-user fa-beat fa-sm" style="color: #3c91e6;"></i> &nbsp; @AccountName
			</a>
			<li class="logout">
				<a href="~/Home/Index">
					<i class='bx bx-exit' style="color: #3c91e6;"></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</nav>
		<!-- Search Bar & Light Switch End -->
		<!-- Video tutorial list Start -->
		<main class="container">
			<section class="main-video">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/_6jsHjUYqYM?si=jVoLpbuYW9-GLsx0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				<!--<video class="main-video-element" controls autoplay muted></video>
				<h3>Title of the playing Video.</h3>-->
			</section>
			<br>
			<section class="video-playlist">
				<h3>Title of Video Playlist</h3>
				<p>5 Features: &nbsp; &nbsp; 1m 59s</p>
				<div class="videos">
					<div class="video">
						<p>01.</p>
						<img src="~/images/vc.png" alt="Video Thumbnail">
						<div>
							<h3>Voice Navigation Feature &nbsp; &nbsp; &nbsp; 0:01</h3>
						</div>
					</div>
					<div class="video">
						<p>02.</p>
						<img src="~/images/vcl.png" alt="Video Thumbnail">
						<div>
							<h3>Voice Navigation With Chinese &nbsp; &nbsp; &nbsp; 0:21</h3>
						</div>
					</div>
					<div class="video">
						<p>03.</p>
						<img src="~/images/face.png" alt="Video Thumbnail">
						<div>
							<h3>Face Recognition Login &nbsp; &nbsp; &nbsp; 0:44</h3>
						</div>
					</div>
					<div class="video">
						<p>04.</p>
						<img src="~/images/ges.png" alt="Video Thumbnail">
						<div>
							<h3>Site Navigation Using Gestures &nbsp; &nbsp; &nbsp; 1:05</h3>
						</div>
					</div>
					<div class="video">
						<p>05.</p>
						<img src="~/images/key.png" alt="Video Thumbnail">
						<div>
							<h3>Keybind Tutorial And Customization &nbsp; &nbsp; &nbsp; 1:25</h3>
						</div>
					</div>
				</div>
			</section>
		</main>
		<!-- Video tutorial list End -->
		<!-- FAQ Start-->
	<div class="faq-wrapper">
		<section class="faq-questions" id="faq">
			<header>
				<h1>Frequently Asked Questions</h1>
			</header>

			<div class="question">
				<div class="question__title">
					<p>What are the default Page Keybinds?</p>
					<button class="question__button">
						<span class="btn-plus">
							<i class="far fa-plus-square"></i>
						</span>
						<span class="btn-minus">
							<i class="far fa-minus-square"></i>
						</span>
					</button>
				</div>
				<p class="question__answer">
					To get to the home page the keybind is "h", to get to transfer it is"t", to logout it is "l".
				</p>
			</div>

			<div class="question">
				<div class="question__title">
					<p>What are the voice shortcuts?</p>
					<button class="question__button">
						<span class="btn-plus">
							<i class="far fa-plus-square"></i>
						</span>
						<span class="btn-minus">
							<i class="far fa-minus-square"></i>
						</span>
					</button>
				</div>
				<p class="question__answer">
					To get to the home page the keyword is "home", to get to transfer page it is "transfer", to logout it is "logout".
				</p>
			</div>

			<div class="question">
				<div class="question__title">
					<p>Can I customixe my keyboard shortcuts?</p>
					<button class="question__button">
						<span class="btn-plus">
							<i class="far fa-plus-square"></i>
						</span>
						<span class="btn-minus">
							<i class="far fa-minus-square"></i>
						</span>
					</button>
				</div>
				<p class="question__answer">
					Yes! To do that head over to the keybinds page and complete the required steps.
				</p>
			</div>

			<div class="question">
				<div class="question__title">
					<p>Is it possible for me to make a feedback?</p>
					<button class="question__button">
						<span class="btn-plus">
							<i class="far fa-plus-square"></i>
						</span>
						<span class="btn-minus">
							<i class="far fa-minus-square"></i>
						</span>
					</button>
				</div>
				<p class="question__answer">
					Yes! You can easily make a feedback through our short feedback form below.
				</p>
			</div>

			<div class="question">
				<div class="question__title">
					<p>How do i activate the eye tracking/hand gesture features?</p>
					<button class="question__button">
						<span class="btn-plus">
							<i class="far fa-plus-square"></i>
						</span>
						<span class="btn-minus">
							<i class="far fa-minus-square"></i>
						</span>
					</button>
				</div>
				<p class="question__answer">
				To do that just ensure your camera is turned on and uncovered. For the eye tracking feature do ensure to toggle it on before use, on the other hand the hand gesturing will be always on standby and you can see it track your hand on the bottom left screen.
				</p>
			</div>

			<div class="question">
				<div class="question__title">
					<p>Is our data secure?</p>
					<button class="question__button">
						<span class="btn-plus">
							<i class="far fa-plus-square"></i>
						</span>
						<span class="btn-minus">
							<i class="far fa-minus-square"></i>
						</span>
					</button>
				</div>
				<p class="question__answer">
					Yes, don't worry! We do not save or store any personal data from our customers!
				</p>
			</div>
		</section>
	</div>
	<!-- FAQ End-->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
			crossorigin="anonymous"></script>

	<!-- Javascript Section -->
	<script>
		var bindsObject = @Json.Serialize(Model);
	</script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script type="module" src="~/js/handlandmarker.js" asp-append-version="true"></script>
	<script src="~/js/dashboard.js" asp-append-version="true"></script>
	<script src="~/js/chart.js" asp-append-version="true"></script>
	<script src="~/js/help.js" asp-append-version="true"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>