@model PFD_GroupA.Models.UserKeybinds
@using System.Text.Json
@{
	ViewData["Title"] = "USER HOME";
	var AccountString = Context.Session.GetString("AccountObject");
	var BankAccString = Context.Session.GetString("BankAcc");
	var type = Context.Session.GetString("AccountType");
	var Binds = Context.Session.GetString("KeyBinds");<!--
	var BindsObject = JsonSerializer.Deserialize<UserKeybinds>(Binds);
	var AccountObject = JsonSerializer.Deserialize<User>(AccountString);
	var BankObject = JsonSerializer.Deserialize<Account>(BankAccString);
	string AccountName = AccountObject.UserName;
	string AccountID = AccountObject.UserID;
	string AccountNum = BankObject.BankAccNo;
	UserKeybinds test = Model;
	Console.WriteLine(test);-->
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Help Page </title>

	<!-- CSS File -->
	<link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/help.css" asp-append-version="true" />

	<!-- Unicons -->
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

	<!-- Box Icons -->
	<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

	<!-- Flat Icons -->
	<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

	<!-- Mediapipe libs -->
	<link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
	<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
	<script src="@Html.Raw("https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js")"></script>
	<script src="@Html.Raw("https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js")"></script>
</head>
<body>



	<!-- Dashboard Side Bar Section Starts -->
	<section id="sidebar">
		<nav>
			<a href="~/User/Index" class="brand">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/logo.png" alt="">
			</a>
			<ul class="side-menu top">
				<li >
					<a href="~/User/Index">
						<i class='bx bxs-home'></i>
						<span class="text">Home</span>
					</a>
				</li>
				<li>
					<a href="~/User/Account">
						<i class='bx bx-line-chart'></i>
						<span class="text"> Account</span>
					</a>
				</li>
				<li>
					<a href="~/User/Transfer">
						<i class='bx bx-transfer'></i>
						<span class="text">Transfer</span>
					</a>
				</li>
				<li>
					<a href="~/User/Cards">
						<i class='bx bx-credit-card'></i>
						<span class="text">Cards</span>
					</a>
				</li>
				<li>
					<a href="~/User/Keybind">
						<i class='bx bxs-keyboard'></i>
						<span class="text">Keybind</span>
					</a>
				</li>
				<li>
					<a href="~/User/Settings">
						<i class='bx bxs-cog'></i>
						<span class="text">Settings</span>
					</a>

				</li>
				<li class="active">
					<a href="~/User/Help">
						<i class='bx bx-help-circle'></i>
						<span class="text">Help</span>
					</a>
				</li>
				<li>
					<button class="assignValue button-style" data-value="0">
						<img src="/images/us.png" alt="">
						<span class="text">English</span>
					</button>
				</li>
				<li>
					<button class="assignValue button-style" data-value="1">
						<img src="/images/cn.png" alt="">
						<span class="text">Chinese</span>
					</button>
				</li>
				<li>
					<button class="assignValue button-style" data-value="2">
						<img src="/images/my.png" alt="">
						<span class="text">Malay</span>
					</button>
				</li>
				<li>
					<button class="assignValue button-style" data-value="3">
						<img src="/images/in.png" alt="">
						<span class="text">Tamil</span>
					</button>
				<li class="logout">
					<a href="~/Home/Index">
						<i class='bx bx-exit'></i>
						<span class="text">Logout</span>
					</a>
				</li>
			</ul>
		</nav>
		<!-- Gesture Recognition -->
		<section id="demos" class="invisible" style=" position: fixed; bottom:0px">
			<div id="liveView" class="videoView">
				<button id="webcamButton" class="" hidden>
					<!--mdc-button mdc-button--raised-->
					<span class="mdc-button__ripple" hidden></span>
					<span class="mdc-button__label" hidden>ENABLE GESTURE</span>
				</button>
				<div style="position: absolute; bottom: 0px; z-index: 500;">
					<video id="webcam" style="width: 270px; height: 240px;" autoplay playsinline></video>
					<canvas class="output_canvas" id="output_canvas" style="position: absolute; left: 0px; top: 0px; z-index: 501;"></canvas>
				</div>
			</div>
		</section>
		<!-- Gesture Recognition end-->
	</section>
	<!-- Dashboard Side Bar Section End -->
	<!-- Search Bar & Light Switch Start -->
	<section id="content">
		<nav>
			<i class='bx bx-menu'></i>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="notification">
				<i class='bx bxs-bell'></i>
				<span class="num">8</span>
			</a>
			<a href="#" class="profile">
				<i class="fa-solid fa-user fa-beat fa-sm" style="color: #3c91e6;"></i>
			</a>
		</nav>
	</section>
	<!-- Search Bar & Light Switch End -->
	<!-- Video tutorial list Start -->
	<main class="container">
		<section class="main-video">
			<video src="images/home.jpg" controls autoplay muted></video>
			<h3>Title of the playing Video.</h3>
		</section>

		<section class="video-playlist">
			<h3>Title of Video Playlist</h3>
			<p>10 lessons: &nbsp; &nbsp; 50m 48s</p>
			<div class="videos">
			</div>
		</section>
	</main>
	<!-- Video tutorial list End -->
	<!-- FAQ Start-->
	<div class="faq-wrapper">
		<section class="faq-questions" id="faq">
			<header>
				<h1>Frequently Asked Questions</h1>
			</header>

			<div class="question">
				<div class="question__title">
					<p>What services does NP Courier Service offer?</p>
					<button class="question__button">
						<span class="btn-plus">
							<i class="far fa-plus-square"></i>
						</span>
						<span class="btn-minus">
							<i class="far fa-minus-square"></i>
						</span>
					</button>
				</div>
				<p class="question__answer">
					NP Courier Service offers fast and reliable express parcel delivery services to over 30 countries.
				</p>
			</div>

			<div class="question">
				<div class="question__title">
					<p>How can I track my parcel?</p>
					<button class="question__button">
						<span class="btn-plus">
							<i class="far fa-plus-square"></i>
						</span>
						<span class="btn-minus">
							<i class="far fa-minus-square"></i>
						</span>
					</button>
				</div>
				<p class="question__answer">
					To track your parcel, simply log in as a user on our website, and you'll have access to our easy-to-use parcel tracking system.
				</p>
			</div>

			<div class="question">
				<div class="question__title">
					<p>What is the mission of NP Courier Service?</p>
					<button class="question__button">
						<span class="btn-plus">
							<i class="far fa-plus-square"></i>
						</span>
						<span class="btn-minus">
							<i class="far fa-minus-square"></i>
						</span>
					</button>
				</div>
				<p class="question__answer">
					At NP Courier Service, our mission is to ensure the safe and timely delivery of your parcels. Your satisfaction is the cornerstone of our success, and we are committed to constantly improving our services to provide you with the best experience.
				</p>
			</div>

			<div class="question">
				<div class="question__title">
					<p>How can I contact NP Courier Service customer support?</p>
					<button class="question__button">
						<span class="btn-plus">
							<i class="far fa-plus-square"></i>
						</span>
						<span class="btn-minus">
							<i class="far fa-minus-square"></i>
						</span>
					</button>
				</div>
				<p class="question__answer">
					You can easily reach our customer support team through phone and email. Our dedicated team is available to assist you with any inquiries or concerns you may have.
				</p>
			</div>

			<div class="question">
				<div class="question__title">
					<p>What makes NP Courier Service stand out from other shipping providers?</p>
					<button class="question__button">
						<span class="btn-plus">
							<i class="far fa-plus-square"></i>
						</span>
						<span class="btn-minus">
							<i class="far fa-minus-square"></i>
						</span>
					</button>
				</div>
				<p class="question__answer">
					At NP Courier Service, we take pride in our commitment to excellence in service. With an extensive network of front offices and delivery stations, we ensure swift and efficient delivery of your parcels. We continuously strive to improve our services to offer you the best parcel delivery experience. Your satisfaction is our top priority, and we are dedicated to exceeding your expectations.
				</p>
			</div>
		</section>
	</div>
	<!-- FAQ End-->

	

	<!-- Javascript Section -->
	<script>
		var bindsObject = @Json.Serialize(Model);
	</script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script type="module" src="~/js/handlandmarker.js" asp-append-version="true"></script>
	<script src="~/js/dashboard.js" asp-append-version="true"></script>
	<script src="~/js/chart.js" asp-append-version="true"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/help.js" asp-append-version="true"></script>
	
</body>
</html>