@model PFD_GroupA.Models.UserKeybinds

@using System.Text.Json
@{
	ViewData["Title"] = "USER HOME";
	var AccountString = Context.Session.GetString("AccountObject");
	var BankAccString = Context.Session.GetString("BankAcc");
	var type = Context.Session.GetString("AccountType");
	var Binds = Context.Session.GetString("KeyBinds");
	var BindsObject = JsonSerializer.Deserialize<UserKeybinds>(Binds);
	var AccountObject = JsonSerializer.Deserialize<User>(AccountString);
	var BankObject = JsonSerializer.Deserialize<Account>(BankAccString);
	string AccountName = AccountObject.UserName;
	string AccountID = AccountObject.UserID;
	string AccountNum = BankObject.BankAccNo;
	UserKeybinds test = Model;
	Console.WriteLine(test);
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Settings Page </title>

	<!-- CSS File -->
	<link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/setting.css" asp-append-version="true" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- Unicons -->
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

	<!-- Box Icons -->
	<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

	<!-- Flat Icons -->
	<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

	<!-- Mediapipe libs -->
	<link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
	<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
	<script src="@Html.Raw("https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js")"></script>
	<script src="@Html.Raw("https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js")"></script>
</head>
<body>



	<!-- Dashboard Side Bar Section Starts -->
	<section id="sidebar">
		<nav>
			<a href="~/User/Index" class="brand">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/logo.png" alt="">
			</a>
			<ul class="side-menu top">
				<li >
					<a href="~/User/Index">
						<i class='bx bxs-home'></i>
						<span class="text">Home</span>
					</a>
				</li>
				<li>
					<a href="~/User/Account">
						<i class='bx bx-line-chart'></i>
						<span class="text"> Account</span>
					</a>
				</li>
				<li>
					<a href="~/User/Transfer">
						<i class='bx bx-transfer'></i>
						<span class="text">Transfer</span>
					</a>
				</li>
				<li>
					<a href="~/User/Cards">
						<i class='bx bx-credit-card'></i>
						<span class="text">Cards</span>
					</a>
				</li>
				<li>
					<a href="~/User/Keybind">
						<i class='bx bxs-keyboard'></i>
						<span class="text">Keybind</span>
					</a>
				</li>
				<li class="active">
					<a href="~/User/Settings">
						<i class='bx bxs-cog'></i>
						<span class="text">Settings</span>
					</a>
				</li>
				<li>
					<a href="~/User/Help">
						<i class='bx bx-help-circle'></i>
						<span class="text">Help</span>
					</a>
				</li>
				
			</ul>
		</nav>
		<!-- Gesture Recognition -->
		<section id="demos" class="invisible" style=" position: fixed; bottom:0px">
			<div id="liveView" class="videoView">
				<button id="webcamButton" class="" hidden>
					<!--mdc-button mdc-button--raised-->
					<span class="mdc-button__ripple" hidden></span>
					<span class="mdc-button__label" hidden>ENABLE GESTURE</span>
				</button>
				<div style="position: absolute; bottom: 0px; z-index: 500;">
					<video id="webcam" style="width: 270px; height: 240px;" autoplay playsinline></video>
					<canvas class="output_canvas" id="output_canvas" style="position: absolute; left: 0px; top: 0px; z-index: 501;"></canvas>
				</div>
			</div>
		</section>
		<!-- Gesture Recognition end-->
	</section>
	<!-- Dashboard Side Bar Section End -->
	<!-- Search Bar & Light Switch Start -->
	<section id="content">
		<nav>
			<i class='bx bx-menu'></i>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
				</div>
			</form>
			<li>
				<button class="assignValue button-style" data-value="0">
					<img src="/images/us.png" alt="">
					<span class="text">English</span>
				</button>
			</li>
			<li>
				<button class="assignValue button-style" data-value="1">
					<img src="/images/cn.png" alt="">
					<span class="text">Chinese</span>
				</button>
			</li>
			<li>
				<button class="assignValue button-style" data-value="2">
					<img src="/images/my.png" alt="">
					<span class="text">Malay</span>
				</button>
			</li>
			<li>
				<button class="assignValue button-style" data-value="3">
					<img src="/images/in.png" alt="">
					<span class="text">Tamil</span>
				</button>
			</li>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="notification">
				<i class='bx bxs-help-circle' style="color: #3c91e6;"></i>
				<div class="popup" id="helpPopup">
					<div class="popup-content">
						<!-- Add your Guide content here -->
						<p>Welcome to the Guide Section!</p>
						<br>
						<p>
							•	Logout Function: Hit the "L" key to use the Logout Function.
						</p>
						<br>
						<p>
							•	Homepage: Hit the "I" key to go to the Homepage.
						</p>
						<br>
						<p>
							•	Account Page: Hit the "A" key to go to the Account Page.
						</p>
						<br>
						<p>
							•	Transfer Page: Hit the "T" key to go to the Transfer Page.
						</p>
						<br>
						<p>
							•	Cards: Hit the "C" key to go to the Cards Page.
						</p>
						<br>
						<p>
							•	Settings: Hit the "S" key to go to the Settings Page.
						</p>
						<br>
						<p>
							•	Account Page: Hit the "A" key to go to the Account Page.
						</p>
						<br>
						<p>
							•	Help: Hit the "H" key to go to the Help Page. .
						</p>
						<br>
						<p>
							•	Voice Recognition Language: Click on one of your preferred languages at the side bar to activate it
						</p>
						<br>
						<p>
							•	Hand Gesture Controls:
						</p>
						<br>
						<p>
							➢	To move to the next page shown on the sidebar, hold up 2 fingers (victory sign)
						</p>
						<br>
						<p>
							➢	To navigate to the previous page, hold up 1 finger (pointing up sign)
						</p>


					</div>
				</div>
			</a>
			<a href="#" class="profile">
				<i class="fa-solid fa-user fa-beat fa-sm" style="color: #3c91e6;"></i> &nbsp; @AccountName
			</a>
			<li class="logout">
				<a href="~/Home/Index">
					<i class='bx bx-exit' style="color: #3c91e6;"></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</nav>
		<!-- Search Bar & Light Switch End -->
		<!-- Dashboard Section Start -->
		<main>

			<div class="container light-style flex-grow-1 container-p-y py-3">
				<h4 class="font-weight-bold py-3 mb-4">
					Account settings
				</h4>
				<div class="card overflow-hidden">
					<div class="row no-gutters row-bordered row-border-light">
						<div class="col-md-3 pt-0">
							<div class="list-group list-group-flush account-settings-links">
								<a class="list-group-item list-group-item-action active" data-toggle="list" href="#account-general">General</a>
								<a class="list-group-item list-group-item-action" data-toggle="list" href="#account-change-password">Change password</a>
								<a class="list-group-item list-group-item-action" data-toggle="list" href="#account-info">Info</a>
								<a class="list-group-item list-group-item-action" data-toggle="list" href="#account-social-links">Social links</a>
								<a class="list-group-item list-group-item-action" data-toggle="list" href="#account-connections">Connections</a>
								<a class="list-group-item list-group-item-action" data-toggle="list" href="#account-notifications">Notifications</a>
							</div>
						</div>
						<div class="col-md-9">
							<div class="tab-content">
								<div class="tab-pane fade active show" id="account-general">
									<!-- General settings content -->
									<hr class="border-light m-0">
									<div class="card-body">
										<div class="form-group">
											<label class="form-label">Username</label>
											<input type="text" class="form-control mb-1" value= @AccountName>
										</div>
										<div class="form-group">
											<label class="form-label">Name</label>
											<input type="text" class="form-control" value=@AccountName>
										</div>
										<div class="form-group">
											<label class="form-label">E-mail</label>
											<input type="text" class="form-control mb-1" value="">
											<div class="alert alert-warning mt-3">
												Your email is not confirmed. Please check your inbox.<br>
												<a href="javascript:void(0)">Resend confirmation</a>
											</div>
										</div>
										<div class="form-group">
											<label class="form-label">Company</label>
											<input type="text" class="form-control" value="">
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="account-change-password">
									<!-- Change password content -->
									<div class="card-body pb-2">
										<div class="form-group">
											<label class="form-label">Current password</label>
											<input type="password" class="form-control">
										</div>
										<div class="form-group">
											<label class="form-label">New password</label>
											<input type="password" class="form-control">
										</div>
										<div class="form-group">
											<label class="form-label">Repeat new password</label>
											<input type="password" class="form-control">
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="account-info">
									<!-- Info content -->
									<div class="card-body pb-2">
										<div class="form-group">
											<label class="form-label">Bio</label>
											<textarea class="form-control" rows="5"></textarea>
										</div>
										<div class="form-group">
											<label class="form-label">Birthday</label>
											<input type="text" class="form-control" value="">
										</div>
										<div class="form-group">
											<label class="form-label">Country</label>
											<select class="custom-select">
												<option>Malaysia</option>
												<option selected>Singapore</option>
												<option>China</option>
												<option>Indonesia</option>
												<option>USA</option>
											</select>
										</div>
									</div>
									<hr class="border-light m-0">
									<div class="card-body pb-2">
										<h6 class="mb-4">Contacts</h6>
										<div class="form-group">
											<label class="form-label">Phone</label>
											<input type="text" class="form-control" value="">
										</div>
										<div class="form-group">
											<label class="form-label">Website</label>
											<input type="text" class="form-control" value>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="account-social-links">
									<!-- Social links content -->
									<div class="card-body pb-2">
										<div class="form-group">
											<label class="form-label">Twitter</label>
											<input type="text" class="form-control" value="https://twitter.com/user">
										</div>
										<div class="form-group">
											<label class="form-label">Facebook</label>
											<input type="text" class="form-control" value="https://www.facebook.com/user">
										</div>
										<div class="form-group">
											<label class="form-label">Google+</label>
											<input type="text" class="form-control" value>
										</div>
										<div class="form-group">
											<label class="form-label">LinkedIn</label>
											<input type="text" class="form-control" value>
										</div>
										<div class="form-group">
											<label class="form-label">Instagram</label>
											<input type="text" class="form-control" value="https://www.instagram.com/user">
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="account-connections">
									<!-- Connections content -->
									<div class="card-body">
										<button type="button" class="btn btn-twitter">Connect to <strong>Twitter</strong></button>
									</div>
									<hr class="border-light m-0">
									<div class="card-body">
										<h5 class="mb-2">
											<a href="javascript:void(0)" class="float-right text-muted text-tiny"><i class="ion ion-md-close"></i> Remove</a>
											<i class="ion ion-logo-google text-google"></i>
											You are connected to Google:
										</h5>
										<a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="f9979498818e9c9595b994989095d79a9694">[email&#160;protected]</a>
									</div>
									<hr class="border-light m-0">
									<div class="card-body">
										<button type="button" class="btn btn-facebook">Connect to <strong>Facebook</strong></button>
									</div>
									<hr class="border-light m-0">
									<div class="card-body">
										<button type="button" class="btn btn-instagram">Connect to <strong>Instagram</strong></button>
									</div>
								</div>
								<div class="tab-pane fade" id="account-notifications">
									<!-- Notifications content -->
									<div class="card-body pb-2">
										<h6 class="mb-4">Notification Preferences</h6>
										<div class="form-group">
											<label class="switcher">
												<input type="checkbox" class="switcher-input" checked>
												<span class="switcher-indicator">
													<span class="switcher-yes"></span>
													<span class="switcher-no"></span>
												</span>
												<span class="switcher-label">Email me when I receive new notifications</span>
											</label>
										</div>
										<div class="form-group">
											<label class="switcher">
												<input type="checkbox" class="switcher-input" checked>
												<span class="switcher-indicator">
													<span class="switcher-yes"></span>
													<span class="switcher-no"></span>
												</span>
												<span class="switcher-label">Receive push notifications for important updates</span>
											</label>
										</div>
									</div>
									<hr class="border-light m-0">
									<div class="card-body pb-2">
										<h6 class="mb-4">News</h6>
										<div class="form-group">
											<label class="switcher">
												<input type="checkbox" class="switcher-input" checked>
												<span class="switcher-indicator">
													<span class="switcher-yes"></span>
													<span class="switcher-no"></span>
												</span>
												<span class="switcher-label">News and announcements</span>
											</label>
										</div>
										<div class="form-group">
											<label class="switcher">
												<input type="checkbox" class="switcher-input">
												<span class="switcher-indicator">
													<span class="switcher-yes"></span>
													<span class="switcher-no"></span>
												</span>
												<span class="switcher-label">Weekly product updates</span>
											</label>
										</div>
										<div class="form-group">
											<label class="switcher">
												<input type="checkbox" class="switcher-input" checked>
												<span class="switcher-indicator">
													<span class="switcher-yes"></span>
													<span class="switcher-no"></span>
												</span>
												<span class="switcher-label">Weekly blog digest</span>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="text-right mt-3">
					<button type="button" class="btn btn-primary">Save changes</button>&nbsp;
					<button type="button" class="btn btn-default">Cancel</button>
				</div>
			</div>

			<br>
		</main>
	</section>

	<!-- Gesture Recognition -->
	<section id="demos" class="invisible" style="z-index:10000">
		<div id="liveView" class="videoView">
			<button id="webcamButton" class="mdc-button mdc-button--raised" style="display: none;">
				<!--mdc-button mdc-button--raised-->
				<span class="mdc-button__ripple" style="display: none;"></span>
				<span class="mdc-button__label" style="display: none;">ENABLE GESTURE</span>
			</button>
			<div style="position: absolute; bottom: 0px; z-index: 500;">
				<video id="webcam" style="width: 270px; height: 240px;" autoplay playsinline></video>
				<canvas class="output_canvas" id="output_canvas" style="position: absolute; left: 0px; top: 0px; z-index: 501;"></canvas>
			</div>
		</div>
	</section>
	<!-- Dashboard Section End -->
	

	<!-- Javascript Section -->
	<script>
		var bindsObject = @Json.Serialize(Model);
	</script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script type="module" src="~/js/handlandmarker.js" asp-append-version="true"></script>
	<script src="~/js/dashboard.js" asp-append-version="true"></script>
	<script src="~/js/chart.js" asp-append-version="true"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>