@model PFD_GroupA.Models.UserKeybinds

@using System.Text.Json
@{
	ViewData["Title"] = "USER HOME";
	var AccountString = Context.Session.GetString("AccountObject");
	var BankAccString = Context.Session.GetString("BankAcc");
	var type = Context.Session.GetString("AccountType");
	var Binds = Context.Session.GetString("KeyBinds");
	var BindsObject = JsonSerializer.Deserialize<UserKeybinds>(Binds);
	var AccountObject = JsonSerializer.Deserialize<User>(AccountString);
	var BankObject = JsonSerializer.Deserialize<Account>(BankAccString);
	string AccountName = AccountObject.UserName;
	string AccountID = AccountObject.UserID;
	string AccountNum = BankObject.BankAccNo;
	UserKeybinds test = Model;
	Console.WriteLine(test);
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>TRANSFER </title>

	<!-- CSS File -->
	<link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/transfer.css" asp-append-version="true" />

	<!-- Unicons -->
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

	<!-- Box Icons -->
	<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

	<!-- Flat Icons -->
	<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>



	<!-- Dashboard Side Bar Section Starts -->
	<section id="sidebar">
		<nav>
			<a href="~/User/Index" class="brand">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/logo.png" alt="">
			</a>
			<ul class="side-menu top">
				<li class="active">
					<a href="~/User/Index">
						<i class='bx bxs-home'></i>
						<span class="text">Home</span>
					</a>
				</li>
				<li>
					<a href="~/User/Account">
						<i class='bx bx-line-chart'></i>
						<span class="text"> Account</span>
					</a>
				</li>
				<li>
					<a href="~/User/Transfer">
						<i class='bx bx-transfer'></i>
						<span class="text">Transfer</span>
					</a>
				</li>
				<li>
					<a href="~/User/Cards">
						<i class='bx bx-credit-card'></i>
						<span class="text">Cards</span>
					</a>
				</li>
				<li>
					<a href="~/User/Settings">
						<i class='bx bxs-cog'></i>
						<span class="text">Settings</span>
					</a>
				</li>
				<li>
					<a href="~/User/Help">
						<i class='bx bx-help-circle'></i>
						<span class="text">Help</span>
					</a>
				</li>
				<li>
					<a href="~/Home/Index" class="logout">
						<i class='bx bx-exit'></i>
						<span class="text">Logout</span>
					</a>
				</li>
			</ul>
		</nav>
	</section>
	<!-- Dashboard Side Bar Section End -->
	<!-- Search Bar & Light Switch Start -->
	<section id="content">
		<nav>
			<i class='bx bx-menu'></i>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="notification">
				<i class='bx bxs-bell'></i>
				<span class="num">8</span>
			</a>
			<a href="#" class="profile">
				<i class="fa-solid fa-user fa-beat fa-sm" style="color: #3c91e6;"></i>
			</a>
		</nav>
		<!-- Search Bar & Light Switch End -->
		<!-- Dashboard Section Start -->
		<main>
			<div class="head-title">
			</div>
			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Transaction</h3>
						<!-- transfer form-->
						<div class="form-group">
							<label for="recipient">To Account:</label>
							<input type="text" id="recipient" name="recipient" placeholder="Recipient's Account" required>
						</div>
						<div class="form-group">
							<label for="amount">Amount:</label>
							<input type="number" id="amount" name="amount" placeholder="Amount" required>
						</div>

					</div>


					<table class="profile-table">
						<tr>
							<td>
								<div class="profile-card">
									<i class="bx bxs-user"></i>
									<h3>John Doe</h3>
									<p>Web Developer</p>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="profile-card">
									<i class="bx bxs-user"></i>
									<h3>Jane Smith</h3>
									<p>UI/UX Designer</p>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="profile-card">
									<i class="bx bxs-user"></i>
									<h3>Mike Johnson</h3>
									<p>Data Scientist</p>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="profile-card">
									<i class="bx bxs-user"></i>
									<h3>John Doe</h3>
									<p>Web Developer</p>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="profile-card">
									<i class="bx bxs-user"></i>
									<h3>Jane Smith</h3>
									<p>UI/UX Designer</p>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="profile-card">
									<i class="bx bxs-user"></i>
									<h3>Mike Johnson</h3>
									<p>Data Scientist</p>
								</div>
							</td>
						</tr>
					</table>


				</div>
			</div>
			<!-- Transcaction History Section Start -->
			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Transaction History</h3>
						<i class='bx bx-search'></i>
						<i class='bx bx-filter'></i>
					</div>
					<table>
						<thead>
							<tr>
								<th>User</th>
								<th>Date Order</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<i class="fi fi-rr-coffee"></i>
									<p>Great Coffee</p>
								</td>
								<td>Today</td>
								<td><span class="status completed">Completed</span></td>
							</tr>
							<tr>
								<td>
									<i class="fi fi-rr-hamburger-soda"></i>
									<p>Central Burger Cafe and Restaurant</p>
								</td>
								<td>11-11-2023</td>
								<td><span class="status pending">Pending</span></td>
							</tr>
							<tr>
								<td>
									<i class="fi fi-rr-computer"></i>
									<p>Computer Stuff</p>
								</td>
								<td>08-11-2023</td>
								<td><span class="status process">Process</span></td>
							</tr>
							<tr>
								<td>
									<i class="fi fi-rr-pizza-slice"></i>
									<p>Pizza Heaven</p>
								</td>
								<td>05-11-2023</td>
								<td><span class="status pending">Pending</span></td>
							</tr>
							<tr>
								<td>
									<i class="fi fi-rr-cream"></i>
									<p>Soap & Skin</p>
								</td>
								<td>04-11-2023</td>
								<td><span class="status completed">Completed</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- Transcaction History Section Start -->
		</main>
	</section>
	<!-- Dashboard Section End -->
	<!-- Javascript Section -->
	<script>
		var bindsObject = @Json.Serialize(Model);
	</script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

	<script src="~/js/dashboard.js" asp-append-version="true"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/transfer.js" asp-append-version="true"></script>
	<script src='https://cdn.josetxu.com/js/pure-pajinate.es5.min.js'></script>

</body>
</html>

