@model PFD_GroupA.Models.User

@{
	ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>OCBC Bank</title>

	<!-- CSS File -->
	<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>

	<!-- Unicons -->
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

	<!-- Box Icons -->
	<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

	<script src="~/js/face-api.min.js"></script>
</head>
<body>

	<!-- Header Start -->
	<section class="header">
		<nav>
			<a href="~/Home/Index"><img src="/images/logo.png" alt=""></a>
		</nav>
	</section>
	<!-- Header End -->

	<!-- Login Page Start -->
	<div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">

					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<h6 class="mb-0 pb-3"><span>Login </span><span>Sign Up</span></h6>
						<input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
						<label for="reg-log"></label>
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">


						
								<form asp-action="Login" asp-controller="Home">

									<div class="card-front">
										<div class="center-wrap">
											<div class="section text-center">
												<h4 class="mb-4 pb-3">Login</h4>

										<div class="form-group">

										<input type="text" name="logemail" class="form-style" placeholder="Access Code" id="usernameLogin" autocomplete="off">
										<i class="input-icon uil uil-at"></i>
                                    </div>
									
										<div class="form-group mt-2">

										<input type="password" inputmode="numeric" pattern="[0-9]*" name="logpass" class="form-style" placeholder="PIN" id="usernamePassword" autocomplete="off">
										<i class="input-icon uil uil-lock-alt"></i>
                                        <br>
                                            @{
                                                if (ViewData["Invalid"] != null)
                                                {
                                                    if (ViewData["Invalid"].ToString() == "True")
                                                    {
                                                        <span class="text-danger">Invalid Login Credentials</span>

                                                    }
                                                }
                                            }
                                    </div>
												<br>
												<label class="submit-button">
													Login
													<input type="submit" id="loginBtn" />
												</label>
												<p class="mb-0 mt-4 text-center">
													<span class="non-bold-text">Don't have Online Banking? </span>
													<a href="#0" class="link" id="signup-link">Sign up now.</a>
												</p>
											</div>
										</div>
									</div>

                                </form>


								<div class="card-back">
									<div class="center-wrap">
										<div class="section text-center">
											<h4 class="mb-4 pb-3">Sign Up</h4>
											<div class="form-group">
												<input type="text" name="logname" class="form-style" placeholder="Your Full Name" id="logname" autocomplete="off">
												<i class="input-icon uil uil-user"></i>
											</div>
											<div class="form-group mt-2">
												<input type="text" name="logemail" class="form-style" placeholder="Access Code" id="logemail" autocomplete="off">
												<i class="input-icon uil uil-at"></i>
											</div>
											<div class="form-group mt-2">
												<input type="password" inputmode="numeric" pattern="[0-9]*" name="logpass" class="form-style" placeholder="PIN" id="logpass" autocomplete="off">
												<i class="input-icon uil uil-lock-alt"></i>
											</div>
											<br>
											<label class="submit-button">
												Sign Up
												<input type="submit" value="Submit" />
											</label>
											<p class="mb-0 mt-4 text-center">
												<span class="non-bold-text">Already a member? </span>
												<a href="#0" class="link" id="login-link">Login Now.</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Login Page End -->

	<img id="myimg" style="width: 100px; height: 100px; position: fixed; bottom: 4rem; left: 2rem;">
	<video id="video" width="420" height="350" style="position: fixed; bottom: 2rem; left: 2rem;" autoplay></video>



	<!-- Javascript Section -->
	<script src="~/js/login.js" asp-append-version="true"></script>
	<script>
		document.getElementById("login-link").addEventListener("click", function (event) {
			event.preventDefault(); // Prevent the default behavior of the link
			const checkbox = document.getElementById("reg-log");
			if (checkbox) {
				checkbox.checked = !checkbox.checked; // Toggle the checkbox
			}
		});

		document.getElementById("signup-link").addEventListener("click", function (event) {
			event.preventDefault(); // Prevent the default behavior of the link
			const checkbox = document.getElementById("reg-log");
			if (checkbox) {
				checkbox.checked = !checkbox.checked; // Toggle the checkbox
			}
		});
	</script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
		<!-- Javascript Section -->
	<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase.js"></script>
	<script src="~/js/faceRecognition.js" asp-append-version="true"></script>
	
</body>
</html>
