

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.header {
    /*background-color: #3498db;
    color: white;
    text-align: left;
    padding: 20px;*/
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.4),rgba(4,9,30,0.4)),url("../images/home1.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

    nav img {
        width: 150px;
    }

.nav-links {
    flex: 1;
    text-align: right;
}

    .nav-links ul li {
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
    }

        .nav-links ul li a {
            color: #fff;
            text-decoration: none;
            font-size: 13px;
        }

        .nav-links ul li::after {
            content: '';
            width: 0%;
            height: 2px;
            background: #f44336;
            display: block;
            margin: auto;
            transition: 0.5s;
        }

        .nav-links ul li:hover::after {
            width: 100%;
        }

h1 {
    margin-left: 130px; 
}

#container {
    text-align: left;
    margin: 5px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    /*margin-left: 150px;*/
}

form {
    display: flex;
    flex-direction: column;
    /*align-items: left;*/
    align-items: flex-start;
}

label { 
    font-size: 18px;
    margin: 10px 0;
    margin-left: 150px;
}

input[type="text"],
input[type="number"],
select {
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

select {
    appearance: none;
}

input[type="submit"] {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 200px;
}

    input[type="submit"]:hover {
        background-color: #2086c5;
    }

.form-group {
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    margin-bottom: 10px; /* Add space between form elements */
}

    .form-group label {
        font-size: 18px;
        width: 150px; /* Adjust the width as needed */
        margin-right: 10px;/*new*/
    }

    /*.form-group input[type="text"] {
        width: 40%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        margin-left: 150px;
        opacity: 0.7;
    }

    .form-group input[type="number"] {
        width: 40%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        margin-left: 150px;
        opacity: 0.7;
    }

    .form-group select {
        width: 40%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        opacity: 0.7;
    }*/

    .form-group input[type="text"],
    .form-group input[type="number"],
    .form-group select {
        width: 40%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        opacity: 0.8;
    }

    .form-group select {
        width: 50%; /* Set the width to 100% to make it as wide as the container */
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        appearance: none;
        margin-left:17px;
        /*margin-left: 150px;*/
    }

.action_btn {
    width: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.back-button, .submit-btn {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px; 
    transition: background-color 0.2s ease; 
    
}

    .back-button:hover, .submit-btn:hover {
        background-color: #2086c5; 
    }

.submit-btn {
    margin-left: 10px;
}

.back-button {
    margin-left: 150px;
}


/* Style for the sidebar */
.sidebar {
    position:  absolute;
    top: 20%;
    right: 10%;
    width: 200px; 
    background: none;
    padding: 20px;
}

    /* Style for the sidebar links */
    .sidebar ul {
        list-style: none;
        padding: 0;
    }

        .sidebar ul li {
            margin-bottom: 10px;
        }

    .sidebar a {
        color: #fff;
        text-decoration: none;
        display: block;
        font-size: 20px; 
        font-weight: 600; 
        transition: color 0.3s;
    }

        .sidebar a:hover {
            color: #ff9900;
        }

    .sidebar ul ul li a {
        font-size: 16px; 
        font-weight: normal; 
        padding-left: 20px; 
    }

        .sidebar ul ul li a:hover {
            color: #ff9900;
        }

.arrow-down {
    position: absolute;
    transform: translateY(-50%);
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transition: transform 0.3s;
}

/* Arrow style when the dropdown is open */
.arrow-up {
    transform: translateY(-50%) rotate(-135deg);
}