.slider-container {
    position: relative;
    width: 10px;
    overflow: hidden;
    margin: 0 auto;
}

.slider-track {
    display: flex;
    flex-direction: column;
    width: 100%; /* Adjusted width to match the number of profile cards */
    transition: transform 0.5s ease;
}

.profile-card {
    flex: 0 0 100px; /* Fixed width for each profile card */
    box-sizing: border-box;
    padding: 10px; /* Adjusted padding */
    text-align: center;
    border-radius: 10px; /* Adjusted border-radius */
    background-color: #eaeaea;
    margin-right: 10px;
}

    .profile-card i {
        font-size: 48px;
        color: #000;
    }

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: #000;
    font-size: 24px;
    cursor: pointer;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}



/* Added styles for scrolling 
.slider-container:hover .slider-track {
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}
*/