.form-group {
    margin-bottom: 1rem;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center; 
}

#submitBtn {
    padding: 0.5rem 1rem;
    background-color: #3C91E6;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s; 
}

    #submitBtn:hover {
        background-color: #0056b3; 
    }
